$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$teal: #35c9ab;
$light-teal: #c4f1e8;
$light-gray: #d2dedc;
$orange: #f88a27;
$white: #fff;
$black: #333;

a {
  color: $white;

  &:hover {
    color: $black;
    background-color: $light-teal;
  }
}

body {
  font-family: 'Quicksand', sans-serif;
  // padding-left: 50px;
}

button {
  margin: 5px 0;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

h4 {
  color: $black;
  font-size: 24px;
  font-weight: 500;
}

img {
  min-height: 100%;
  min-width: 100%;
  object-fit: contain;
}

p {
  font-size: 16px;
}

.active {
  a {
    background-color: transparent;
  }
}

.btn-line {
  background-color: transparent;
  border-color: $white;
  border-radius: 2px;
  color: $white;
  font-size: 16px;
  letter-spacing: 1px;
}

.box {
  // background-color: $light-teal;
  // border: 1px solid $teal;
  color: $teal;
  // display: table-cell;
  // font-size: 48px;
  font-size: 10vw;
  // padding: 100%;
  height: 20vw;
  text-align: center;
  // padding-top: 2vw;
  // vertical-align: middle;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-area {
  border: 1px solid $white;
  border-top-color: transparent;
  padding: 20px;
}

.game-end {
  background-color: $light-gray;
}

.hide {
  display: none;
}

.msg {
  color: $orange;
}

.nav-tabs {
  border-bottom-color: $white;
  font-size: 16px;
  font-weight: 500;

  li {
    a {
      &:hover {
        background-color: $light-teal;
        border-color: transparent;
      }
    }

    .active {
      a {
        background-color: transparent;
      }
    }
  }
}

#box0 {
  border-bottom: 2px solid $teal;
  border-right: 2px solid $teal;
}

#box1 {
  border-bottom: 2px solid $teal;
  border-left: 2px solid $teal;
  border-right: 2px solid $teal;
}

#box2 {
  border-bottom: 2px solid $teal;
  border-left: 2px solid $teal;
}

#box3 {
  border-bottom: 2px solid $teal;
  border-right: 2px solid $teal;
  border-top: 2px solid $teal;
}

#box4 {
  border: 2px solid $teal;
}

#box5 {
  border-bottom: 2px solid $teal;
  border-left: 2px solid $teal;
  border-top: 2px solid $teal;
}

#box6 {
  border-right: 2px solid $teal;
  border-top: 2px solid $teal;
}

#box7 {
  border-left: 2px solid $teal;
  border-right: 2px solid $teal;
  border-top: 2px solid $teal;
}

#box8 {
  border-left: 2px solid $teal;
  border-top: 2px solid $teal;
}

#game-area {
  padding: 0 50px;
}

#game-btn-content {
  margin: 0 0 20px 0;
}

#game-list {
  padding-top: 50px;

  .btn-line {
    border-color: $teal;
    color: $teal;
  }
}

#gameStatus {
  border: 1px dotted $teal;
  color: $teal;
  font-size: 20px;
  // margin: 50px 0;
  height: 6vw;
  margin-bottom: 50px;
  padding: 10px;
}

#main-content {
  background-color: $teal;
  height: 100vh;
  padding: 0 50px;
}

#welcome-content {
  margin: 20px 0;
}
