$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$teal: #35c9ab;
$light-teal: #c4f1e8;
$light-gray: #d2dedc;
$orange: #f88a27;

body {
  padding-left: 50px;
}

.hide {
  display: none;
}

.game-end {
  background-color: $light-gray;
}

.box {
  background-color: $light-teal;
  border: 1px solid $teal;
  color: $teal;
  font-size: 36px;
  // padding: 100%;
  height: 20vw;
  width: 20vw;
}

.msg {
  color: $orange;
}

#gameStatus {
  color: $teal;
  font-size: 24px;
}

.form-area {
  margin-top: 50px;
}

#main-content {
  margin-right: 20px;
}
//
// #game-area {
//   float: right;
// }
